.card-main {
    width: 24%;
    background-color: blue;
}
.card-title{
    background-color: rgb(5, 5, 132);
}

.card6 {
    width: 24%;
    background-color: green;
}
.card-title2{
    background-color: rgb(5, 126, 5);
}


.card3 {
    width: 28%;
    background-color: red;
}
.card-title3{
    background-color: rgb(113, 4, 4);
}

.card4 {
    width: 24%;
    background-color: black;
}
.card-title4{
    background-color: rgb(61, 60, 60);
}

.card-text {
    font-size: 25px;
    text-align: center;
    background-color: grey;
    width: 25%;
    height: 20%;
}